doctype html
html
    head
        meta(charset='utf-8')
    body
        h1 BothCute&Music&Humor&ComedyPage
        br
        h3 <그럼 귀엽거나 신나는게임이 좋아? 웃긴 병맛게임이 좋아?>
        br
        br
        br
        form(action='BothHorror&Story-Rich&Relaxing', method='post')
            div(style='width:300px; height:300px; border:1px solid black; float:left; margin-right:70px;')
                input(type='image' name='Single' value='Single' alt='Single' src="/cute&music.jpg" width="300px" height="300px")
                input(type='hidden', name='Cute_value', value='Cute')
                input(type='hidden' name='Cute_TF' value='TRUE')

                input(type='hidden', name='Music_value', value='Music')
                input(type='hidden' name='Music_TF' value='TRUE')
                

        form(action='BothHorror&Story-Rich&Relaxing', method='post')
            div(style='width:300px; height:300px; border:1px solid black; float:left; margin-right:70px;')
                input(type='image' name='Multi' value='Multi' alt='Multi' src="/Humor&Comedy.png" width="300px" height="300px")
                input(type='hidden', name='Humor_value', value='Humor')
                input(type='hidden', name='Humor_TF' value='TRUE')

                input(type='hidden', name='Comedy_value', value='Comedy')
                input(type='hidden', name='Comedy_TF' value='TRUE')
                      
        form(action='BothHorror&Story-Rich&Relaxing', method='post')
            div(style='width:300px; height:300px; border:1px solid black; float:left; margin-right:70px;')
                input(type='image' name='Multi' value='Multi' alt='Multi' src="/Both.jpg" width="300px" height="300px")
                
                input(type='hidden', name='Cute_value', value='Cute')
                input(type='hidden' name='Cute_TF' value='TRUE')

                input(type='hidden', name='Music_value', value='Music')
                input(type='hidden' name='Music_TF' value='TRUE')

                input(type='hidden', name='Humor_value', value='Humor')
                input(type='hidden', name='Humor_TF' value='TRUE')

                input(type='hidden', name='Comedy_value', value='Comedy')
                input(type='hidden', name='Comedy_TF' value='TRUE')

        form(action='BothHorror&Story-Rich&Relaxing', method='post')
            div(style='width:300px; height:300px; border:1px solid black; float:left;')
                input(type='image' name='Multi' value='Multi' alt='Multi' src="/none.jpg" width="300px" height="300px")
                