doctype html
html
    head
        meta(charset='utf-8')
    body
        h1 Horror&Story-Rich&RelaxingPage
        br
        h3 <혹시 공포게임이 좋아? 힐링게임이 좋아?>
        br
        br
        br
        //- div(style='width:300px; height:300px; border:1px solid black; float:left; margin-right:70px;')
        //-     <img src="/Horror.jpg" width="300px" height="300px" onclick="javascript:location.href='Gore&Survive';">

        //- div(style='width:300px; height:300px; border:1px solid black; float:left; margin-right:70px;')
        //-     <img src="/Relaxing.jpg" width="300px" height="300px" onclick="javascript:location.href='CategoryStratgy';">
        
        //- div(style='width:300px; height:300px; border:1px solid black; float:left; margin-right:70px;')
        //-     <img src="/Both.jpg" width="300px" height="300px" onclick="javascript:location.href='CategoryStratgy';">

        //- div(style='width:300px; height:300px; border:1px solid black; float:left;')
        //-     <img src="/none.jpg" width="300px" height="300px" onclick="javascript:location.href='CategoryStratgy';">
        
        form(action='Gore&Survive', method='post')
            div(style='width:300px; height:300px; border:1px solid black; float:left; margin-right:70px;')
                input(type='image' name='Single' value='Single' alt='Single' src="/Horror.jpg" width="300px" height="300px")
                input(type='hidden' name='Horror_value', value='Horror')
                input(type='hidden' name='Horror_TF' value='TRUE')

        form(action='CategoryStratgy', method='post')
            div(style='width:300px; height:300px; border:1px solid black; float:left; margin-right:70px;')
                input(type='image' name='Multi' value='Multi' alt='Multi' src="/Relaxing.jpg" width="300px" height="300px")
                input(type='hidden' name='Relaxing_value' value='Relaxing')
                input(type='hidden' name='Relaxing_TF' value='TRUE')

                input(type='hidden' name='Story_Rich_value' value='Story-Rich')
                input(type='hidden' name='Story_Rich_TF' value='TRUE')

        form(action='CategoryStratgy', method='post')
            div(style='width:300px; height:300px; border:1px solid black; float:left; margin-right:70px;')
                input(type='image' name='Multi' value='Multi' alt='Multi' src="/Both.jpg" width="300px" height="300px")
                
                input(type='hidden' name='Horror_value', value='Horror')
                input(type='hidden' name='Horror_TF' value='TRUE')

                input(type='hidden' name='Relaxing_value' value='Relaxing')
                input(type='hidden' name='Relaxing_TF' value='TRUE')

                input(type='hidden' name='Story_Rich_value' value='Story-Rich')
                input(type='hidden' name='Story_Rich_TF' value='TRUE')

        form(action='CategoryStratgy', method='post')
            div(style='width:300px; height:300px; border:1px solid black; float:left;')
                input(type='image' name='Multi' value='Multi' alt='Multi' src="/none.jpg" width="300px" height="300px")
                
                input(type='hidden' name='Horror_value', value='Horror')
                input(type='hidden' name='Horror_TF' value='NONE')

                input(type='hidden' name='Relaxing_value' value='Relaxing')
                input(type='hidden' name='Relaxing_TF' value='NONE')

                input(type='hidden' name='Story_Rich_value' value='Story-Rich')
                input(type='hidden' name='Story_Rich_TF' value='NONE')
